# dependencies installed by npm
/node_modules

# build artefacts
/dist
/src/site/_includes/css
/src/site/images/products/resized/*
!/src/site/images/products/resized/*.gitkeep

# secrets and errors
.env
/yarn-error.log

# macOS related files
.DS_Store
.AppleDouble
.LSOverride

