.button {
  display: inline-block;
  background-color: $green;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: "Permanent Marker", sans-serif;
  color: $text-color;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 20px;
  transition: filter 0.2s $ease-out-cubic;

  &:hover {
    filter: blur(1px);
  }
}
