@import "_variables.css";

body {
  background-color: $background-color;
  font-family: sans-serif;
  line-height: 1.2;
  color: $text-color;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Permanent Marker", cursive;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--small {
  max-width: 600px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

a {
  color: $blue;
  text-decoration: underline wavy $green;

  &:hover {
    text-decoration: underline wavy $red;
  }
}

@import "_button.css";
@import "_header.css";
@import "_footer.css";
@import "_product-list.css";
@import "_product.css";
