@import "_variables.css";

*,
*::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: sans-serif;
  line-height: 1.2;
  color: $text-color;
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Permanent Marker Regular"), local("PermanentMarker-Regular"),
    url("/fonts/permanent-marker-v9-latin-regular.woff2") format("woff2"),
    url("/fonts/permanent-marker-v9-latin-regular.woff") format("woff");
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Permanent Marker", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--small {
  max-width: 600px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

a {
  color: $blue;
  text-decoration: underline wavy $green;
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: underline wavy $red;
  }
}

@import "_button.css";
@import "_header.css";
@import "_footer.css";
@import "_product-list.css";
@import "_product.css";
@import "_readings.css";
