@import "_variables.css";

body {
  background-color: $background;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@import "_header.css";
@import "_product-list.css";
